---
let controlBoxCardPins = new Array(13).fill("");
---

<section>
  <div class="control-box-container">
    <div class="control-box">
      <div></div>
      <div class="control-box-card">
        {controlBoxCardPins.map(() => <div />)}
      </div>
      <div></div>
      <div class="lever-container">
        <div></div>
        <div class="lever">
          <div></div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clamp">
    <div class="clamp-hole"></div>
    <div class="graflex-strip"></div>
  </div>
</section>

<style>
  section {
    --chrome: linear-gradient(
      90deg,
      rgb(122, 126, 131) 0%,
      rgb(139, 144, 151) 6%,
      rgb(28, 35, 43) 11%,
      rgb(36, 40, 47) 16%,
      rgb(84, 96, 109) 24%,
      rgb(231, 233, 235) 35%,
      rgb(223, 225, 227) 43%,
      rgb(88, 92, 97) 52%,
      rgb(31, 31, 32) 66%,
      rgb(62, 66, 73) 80%,
      rgb(166, 170, 176) 85%,
      rgb(91, 93, 97) 96%,
      rgb(43, 44, 45) 100%
    );

    --card-shadow: linear-gradient(
      90deg,
      rgba(15, 15, 15, 0.8) 0%,
      rgba(73, 69, 68, 0.2) 25%,
      rgba(73, 69, 68, 0.2) 30%,
      rgba(73, 69, 68, 0.2) 70%,
      rgba(73, 69, 68, 0.5) 85%,
      rgba(36, 34, 34, 0.7) 100%
    );
  }

  section {
    height: 18.89%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .clamp {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--chrome);
    clip-path: polygon(
      100% 0,
      100% 30%,
      97.5% 30%,
      97.5% 35.88%,
      100% 35.88%,
      100% 100%,
      0 100%,
      0 0
    );
  }

  .graflex-strip {
    height: 25.49%;
    width: 100%;
    background: rgba(223, 223, 223, 0.219);
  }

  .clamp-hole {
    position: absolute;
    right: 0;
    top: 30%;
    height: 5.88%;
    width: 22%;
    border-radius: 9999px 0 0 9999px;
    background-color: rgb(22, 22, 22);
  }

  .control-box-container {
    width: 40%;
    height: 100%;
    left: 50%;
    translate: -50%;
    position: absolute;
    z-index: 2;
  }

  .control-box {
    display: flex;
    height: 100%;
    position: relative;
  }

  .control-box > div:nth-child(1),
  .control-box > div:nth-child(3) {
    flex-grow: 1;
    background: linear-gradient(
      90deg,
      rgb(198, 208, 226) 0%,
      rgb(75, 78, 82) 30%,
      rgb(87, 90, 97) 70%,
      rgb(46, 49, 54) 100%
    );
  }

  .control-box-card {
    width: 56.25%;
    height: 100%;
    background: #a18a6a;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2%;
  }

  .control-box-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--card-shadow);
    z-index: 1;
  }

  .control-box-card > div {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgb(65, 46, 24) 0%,
      rgb(65, 46, 24) 15%,
      rgb(114, 87, 42) 16%,
      rgb(114, 87, 42) 84%,
      rgb(211, 190, 157) 85%,
      rgb(211, 190, 157) 100%
    );
    clip-path: polygon(
      100% 0,
      45% 0,
      35% 30%,
      0 30%,
      0 70%,
      35% 70%,
      45% 100%,
      100% 100%
    );
  }

  .lever-container {
    position: absolute;
    width: 50%;
    height: 62.75%;
    right: -50%;
    top: 40%;
    display: flex;
  }

  .lever-container > div:nth-child(1) {
    height: 31.25%;
    width: 12.5%;
    background: rgb(21, 20, 22);
  }

  .lever {
    height: 100%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    rotate: 12deg;
    translate: -47% 8%;
  }

  .lever > div:nth-child(1) {
    width: 100%;
    height: 15.63%;
    background: linear-gradient(
      90deg,
      rgb(201, 213, 231) 0%,
      rgb(86, 96, 105) 30%,
      rgb(114, 124, 138) 85%,
      rgb(43, 46, 51) 100%
    );
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    position: relative;
  }

  .lever > div:nth-child(1)::before {
    content: "";
    height: 50%;
    top: 50%;
    translate: 50% -50%;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
  }

  .lever > div:nth-child(2) {
    width: 50%;
    height: 70%;
    background: linear-gradient(
      90deg,
      rgb(201, 213, 231) 0%,
      rgb(86, 96, 105) 20%,
      rgb(114, 124, 138) 70%,
      rgb(43, 46, 51) 100%
    );
    border-bottom-left-radius: 90% 40%;
    position: relative;
  }

  .lever > div:nth-child(2) > div {
    position: absolute;
    bottom: -6%;
    right: -80%;
    rotate: 49deg;
    height: 5%;
    width: 150%;
    border-radius: 9999px;
    background: linear-gradient(
      90deg,
      rgb(114, 124, 138) 0%,
      rgb(114, 124, 138) 60%,
      rgb(30, 34, 37) 100%
    );
  }
</style>
