<section id="blade"></section>

<style>
  #blade {
    width: 63.5%;
    height: 0%;
    bottom: 86.3%;
    left: 50%;
    translate: -50% 0;
    visibility: hidden;
    position: absolute;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    animation: 0.1s linear infinite flicker;
    transition: 0.6s ease-out;
    z-index: 1;
  }

  @keyframes flicker {
    0% {
      background-color: rgb(215, 254, 255);
      box-shadow: 0px 0px 30px 5px rgb(84, 255, 246);
    }
    100% {
      background-color: rgb(180, 255, 255);
      box-shadow: 0px 0px 25px 3px rgb(55, 245, 229);
    }
  }
</style>
