<section>
  <div class="grip">
    <div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div></div>
  </div>
  <div class="middle-grip">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="grip">
    <div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div></div>
  </div>
  <div class="d-ring-container">
    <div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="d-ring"></div>
  </div>
</section>

<style>
  section {
    --chrome: linear-gradient(
      90deg,
      rgb(122, 126, 131) 0%,
      rgb(139, 144, 151) 6%,
      rgb(28, 35, 43) 11%,
      rgb(36, 40, 47) 16%,
      rgb(84, 96, 109) 24%,
      rgb(231, 233, 235) 35%,
      rgb(223, 225, 227) 43%,
      rgb(88, 92, 97) 52%,
      rgb(31, 31, 32) 66%,
      rgb(62, 66, 73) 80%,
      rgb(166, 170, 176) 85%,
      rgb(91, 93, 97) 96%,
      rgb(43, 44, 45) 100%
    );

    --shadow: linear-gradient(
      0deg,
      rgba(202, 248, 255, 0) 0%,
      rgba(47, 50, 52, 0) 87%,
      rgba(28, 22, 19, 0.5) 98%,
      rgba(19, 16, 12, 0.9) 100%
    );

    --d-ring: linear-gradient(
      0deg,
      rgb(161, 172, 187) 0%,
      rgb(33, 35, 37) 5%,
      rgb(148, 158, 172) 9%,
      rgb(134, 143, 155) 49%,
      rgb(23, 23, 24) 75%,
      rgb(128, 137, 151) 100%
    );
  }

  section {
    height: 34.44%;
    position: relative;
    display: flex;
    justify-content: center;
    background: var(--chrome);
  }

  section::before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
  }

  section::after {
    position: absolute;
    inset: 0;
    content: "";
    background: var(--shadow);
  }

  section > div:nth-child(1) {
    left: -7.89%;
  }
  section > div:nth-child(3) {
    right: -7.89%;
    scale: -1 1;
  }

  .grip {
    display: flex;
    width: 23.68%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }

  .grip > div:nth-child(2),
  .grip > div:nth-child(3) {
    background: linear-gradient(
      90deg,
      rgb(31, 32, 34) 0%,
      rgb(30, 31, 32) 50%,
      rgb(21, 22, 23) 55%,
      rgb(20, 21, 22) 100%
    );
    width: 44.44%;
    height: 100%;
  }

  .grip > div:nth-child(1) {
    width: 55.56%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .grip > div:nth-child(1) > div:nth-child(1) {
    width: 100%;
    height: 79.57%;
    background: linear-gradient(
      90deg,
      rgb(81, 84, 88) 0%,
      rgb(41, 42, 45) 23%,
      rgb(21, 22, 23) 39%,
      rgb(20, 21, 22) 100%
    );
  }

  .grip > div:nth-child(1) > div:nth-child(2) {
    height: 8.6%;
    width: 40%;
    position: relative;
    background: rgb(20, 21, 22);
  }

  .grip > div:nth-child(1) > div:nth-child(2)::before {
    position: absolute;
    content: "";
    height: 75%;
    width: 100%;
    top: 50%;
    translate: 0 -50%;
    background: linear-gradient(
      90deg,
      rgba(181, 174, 174, 1) 0%,
      rgba(110, 106, 106, 1) 33%,
      rgba(110, 106, 106, 1) 47%,
      rgba(68, 66, 66, 1) 60%,
      rgba(45, 44, 44, 1) 100%
    );
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    clip-path: polygon(
      100% 0,
      0 0,
      0 40%,
      30% 40%,
      30% 60%,
      0 60%,
      0 100%,
      100% 100%
    );
  }

  .grip > div:nth-child(1) > div:nth-child(3) {
    width: 100%;
    height: 11.83%;
    background: linear-gradient(
      90deg,
      rgb(81, 84, 88) 0%,
      rgb(41, 42, 45) 23%,
      rgb(21, 22, 23) 39%,
      rgb(20, 21, 22) 100%
    );
  }

  .middle-grip {
    height: 100%;
    width: 34.21%;
    background: linear-gradient(
      90deg,
      rgb(87, 90, 97) 0%,
      rgb(20, 21, 22) 8%,
      rgb(20, 21, 22) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.08%;
    z-index: 1;
  }

  .middle-grip > div:nth-child(2) {
    aspect-ratio: 1;
    width: 46.15%;
    background: linear-gradient(
      90deg,
      rgb(121, 121, 121) 0%,
      rgb(71, 70, 70) 30%,
      rgb(58, 57, 57) 70%,
      rgb(29, 28, 28) 100%
    );
    border-radius: 50%;
    position: relative;
  }

  .middle-grip > div:nth-child(2)::before,
  .middle-grip > div:nth-child(2)::after {
    content: "";
    position: absolute;
    height: 20%;
    width: 70%;
    background: #121213;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .middle-grip > div:nth-child(1) {
    height: 79.57%;
    width: 23.08%;
    background: linear-gradient(
      90deg,
      rgb(87, 92, 97) 0%,
      rgb(40, 41, 42) 33%,
      rgb(40, 41, 42) 66%,
      rgb(17, 18, 18) 100%
    );
  }

  .middle-grip > div:nth-child(2)::after {
    rotate: 90deg;
  }

  .middle-grip > div:nth-child(3) {
    height: 11.83%;
    width: 23.08%;
    background: linear-gradient(
      90deg,
      rgb(87, 92, 97) 0%,
      rgb(40, 41, 42) 33%,
      rgb(40, 41, 42) 66%,
      rgb(17, 18, 18) 100%
    );
  }

  .d-ring-container {
    width: 94.74%;
    height: 6.45%;
    bottom: -6.45%;
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .d-ring-container > div:nth-child(1) {
    width: 38.89%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .d-ring-container > div:nth-child(1) > div:nth-child(1) {
    width: 23.08%;
    height: 33.33%;
    position: relative;
    background: rgb(14, 13, 13);
    z-index: 1;
  }

  .d-ring-container > div:nth-child(1) > div:nth-child(2) {
    width: 100%;
    height: 100%;
    clip-path: polygon(
      85% 0,
      100% 0,
      100% 100%,
      75% 75%,
      50% 66%,
      25% 75%,
      0 100%,
      0 0,
      15% 0,
      15% 33%,
      85% 33%
    );
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(181, 174, 174, 1) 0%,
      rgb(49, 48, 48) 5%,
      rgb(29, 28, 28) 32%,
      rgb(24, 23, 23) 60%,
      rgb(14, 13, 13) 100%
    );
    z-index: 2;
  }

  .d-ring-container > div:nth-child(1) > div:nth-child(3) {
    width: 50%;
    height: 33.33%;
    bottom: 0;
    background: var(--chrome);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
  }

  .d-ring-container > div:nth-child(1) > div:nth-child(3)::before {
    content: "";
    inset: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  }

  .d-ring {
    position: absolute;
    width: 100%;
    height: 43%;
    top: 20%;
    border-radius: 9999px;
    background: var(--d-ring);
    overflow: hidden;
    z-index: 2;
  }

  .d-ring::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(181, 174, 174, 0) 0%,
      rgba(227, 223, 223, 0.5) 3%,
      rgba(40, 38, 38, 0.5) 23%,
      rgba(33, 31, 31, 0.8) 48%,
      rgba(51, 49, 49, 0.5) 81%,
      rgba(182, 167, 167, 0) 100%
    );
  }
</style>
