---
let btnKnurls = new Array(22).fill("");
---

<section>
  <div class="upper-section">
    <div class="back-btn">
      <div></div>
      <div></div>
      <div class="btn-knurls">
        {btnKnurls.map(() => <div />)}
      </div>
    </div>
    <div class="front-btn">
      <div class="btn-knurls">
        {btnKnurls.map(() => <div />)}
      </div>
      <div></div>
      <div></div>
    </div>
    <div class="square-detail"></div>
    <div class="circle-detail">
      <div>
        <div class="circle-detail-1"></div>
        <div class="circle-detail-2"></div>
        <div class="circle-detail-3"></div>
        <div class="circle-detail-4"></div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    --chrome: linear-gradient(
      90deg,
      rgb(122, 126, 131) 0%,
      rgb(139, 144, 151) 6%,
      rgb(28, 35, 43) 11%,
      rgb(36, 40, 47) 16%,
      rgb(84, 96, 109) 24%,
      rgb(231, 233, 235) 35%,
      rgb(223, 225, 227) 43%,
      rgb(88, 92, 97) 52%,
      rgb(31, 31, 32) 66%,
      rgb(62, 66, 73) 80%,
      rgb(166, 170, 176) 85%,
      rgb(91, 93, 97) 96%,
      rgb(43, 44, 45) 100%
    );

    --knurls: linear-gradient(
      180deg,
      rgb(175, 185, 212) 0%,
      rgb(141, 150, 163) 30%,
      rgb(144, 154, 177) 60%,
      rgb(61, 67, 80) 70%,
      rgb(59, 65, 77) 100%
    );

    --btn-ring: linear-gradient(
      180deg,
      rgb(56, 61, 71) 0%,
      rgb(80, 87, 100) 13%,
      rgb(164, 174, 189) 25%,
      rgb(204, 213, 233) 35%,
      rgb(142, 153, 173) 43%,
      rgb(61, 68, 77) 50%,
      rgb(60, 67, 77) 100%
    );

    --btn: linear-gradient(
      190deg,
      rgba(47, 21, 12, 1) 0%,
      rgba(94, 51, 36, 1) 11%,
      rgb(119, 70, 53) 37%,
      rgba(94, 51, 36, 1) 60%,
      rgba(47, 21, 12, 1) 100%
    );

    --pins: linear-gradient(
      0deg,
      rgb(24, 22, 20) 0%,
      rgb(48, 42, 36) 11%,
      rgb(80, 71, 61) 37%,
      rgb(61, 52, 41) 60%,
      rgb(29, 27, 24) 100%
    );

    --shadow: linear-gradient(
      180deg,
      rgba(202, 248, 255, 0) 0%,
      rgba(47, 50, 52, 0) 87%,
      rgba(28, 22, 19, 0.2) 98%,
      rgba(19, 16, 12, 0.5) 100%
    );
  }

  section {
    display: flex;
    justify-content: center;
    height: 32.96%;
    z-index: 1;
    position: relative;
  }

  .upper-section {
    background: var(--chrome);
    position: relative;
    width: 95%;
  }

  .upper-section::before {
    position: absolute;
    content: "";
    inset: 0;
    background: var(--shadow);
  }

  .back-btn {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    width: 28.95%;
    height: 20.22%;
    left: -28.95%;
  }

  .front-btn {
    position: absolute;
    bottom: 61.8%;
    width: 28.95%;
    height: 20.22%;
    right: -28.95%;
    display: flex;
    align-items: center;
  }

  .btn-knurls {
    display: flex;
    flex-direction: column;
    width: 63.64%;
    height: 100%;
    background: var(--knurls);
    position: relative;
  }

  .btn-knurls > div {
    height: 100%;
    width: 100%;
  }

  .btn-knurls > div:nth-child(2n) {
    background: rgb(63, 64, 66);
  }

  .back-btn > div:nth-child(1) {
    width: 13.09%;
    height: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: var(--btn);
  }

  .back-btn > div:nth-child(3)::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(
      90deg,
      rgba(202, 248, 255, 0) 0%,
      rgba(28, 22, 19, 0.2) 30%,
      rgba(20, 19, 16, 0.8) 100%
    );
  }

  .back-btn > div:nth-child(2) {
    width: 23.27%;
    height: 100%;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    background: var(--btn-ring);
  }

  .front-btn > div:nth-child(3) {
    width: 13.09%;
    height: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: var(--btn);
  }

  .front-btn > div:nth-child(2) {
    width: 23.27%;
    height: 100%;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    background: var(--btn-ring);
  }

  .front-btn > div:nth-child(1)::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(
      270deg,
      rgba(202, 248, 255, 0) 0%,
      rgba(28, 22, 19, 0.2) 30%,
      rgba(20, 19, 16, 0.8) 100%
    );
  }

  .square-detail {
    width: 7.89%;
    height: 11.24%;
    background: rgb(18, 18, 19);
    border-radius: 15%;
    position: absolute;
    right: 2.63%;
    top: 4.49%;
  }

  .circle-detail {
    aspect-ratio: 1;
    width: 36.84%;
    top: 3.37%;
    right: 15.79%;
    border-radius: 50%;
    background: var(--btn-ring);
    position: absolute;
    overflow: hidden;
  }

  .circle-detail > div {
    position: relative;
    border-radius: 50%;
    background: rgb(18, 18, 19);
    height: 100%;
    width: 90%;
  }

  .circle-detail-1 {
    background: var(--pins);
    width: 45%;
    height: 48%;
    translate: 45%;
    border-radius: 0 0 9999px 9999px;
  }

  .circle-detail-2 {
    background: var(--pins);
    width: 40%;
    aspect-ratio: 1;
    translate: 55% 17%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: absolute;
  }

  .circle-detail-3,
  .circle-detail-4 {
    background: var(--pins);
    width: 40%;
    aspect-ratio: 9/4;
    border-radius: 9999px;
    position: absolute;
  }

  .circle-detail-3 {
    translate: 90% 100%;
  }

  .circle-detail-4 {
    translate: 90% -160%;
  }
</style>
