<section>
  <div></div>
</section>

<style>
  section {
    --base-darker: #1f2544;
    --base-dark: #474f7a;
    --base-light: #81689d;
    --base-lighter: #ca95b5;

    height: 12.5%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  section > div {
    height: 100%;
    width: 75.47%;
    background: var(--base-dark);
  }
</style>
