<section>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>

<style>
  section {
    --base-darker: #1f2544;
    --base-dark: #474f7a;
    --base-light: #81689d;
    --base-lighter: #ca95b5;

    height: 9.29%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > div:nth-child(1) {
    height: 30.77%;
    width: 33.96%;
    top: -30.77%;
    background: var(--base-dark);
    position: absolute;
  }

  section > div:nth-child(2) {
    height: 3.85%;
    width: 100%;
    background: var(--base-dark);
  }

  section > div:nth-child(3) {
    height: 23.08%;
    width: 77.36%;
    background: var(--base-dark);
  }

  section > div:nth-child(4) {
    height: 53.85%;
    width: 67.92%;
    background: var(--base-dark);
  }

  section > div:nth-child(5) {
    height: 19.23%;
    width: 49.06%;
    background: var(--base-dark);
  }
</style>
