<section id="blade"></section>

<style>
  #blade {
    width: 47.92%;
    height: 0%;
    bottom: 100%;
    left: 50%;
    translate: -50% 0;
    visibility: hidden;
    position: absolute;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    animation: 0.1s linear infinite flicker;
    transition: 0.4s ease-out;
    z-index: 1;
  }

  @keyframes flicker {
    0% {
      background-color: rgb(228, 255, 196);
      box-shadow: 0px 0px 30px 5px rgb(132, 255, 84);
    }
    100% {
      background-color: rgb(185, 255, 152);
      box-shadow: 0px 0px 25px 3px rgb(84, 255, 84);
    }
  }
</style>
