<section>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>

<style>
  section {
    --base-darker: #1f2544;
    --base-dark: #474f7a;
    --base-light: #81689d;
    --base-lighter: #ca95b5;

    height: 16.07%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > div:nth-child(1) {
    background: var(--base-darker);
    width: 32.08%;
    height: 17.78%;
  }

  section > div:nth-child(2) {
    background: var(--base-darker);
    width: 28.3%;
    height: 4.44%;
  }

  section > div:nth-child(3) {
    background: var(--base-darker);
    width: 32.08%;
    height: 13.33%;
  }

  section > div:nth-child(4) {
    background: var(--base-darker);
    width: 60.38%;
    height: 24.44%;
  }

  section > div:nth-child(5) {
    background: var(--base-dark);
    width: 69.81%;
    height: 6.67%;
  }

  section > div:nth-child(6) {
    background: var(--base-darker);
    width: 47.17%;
    height: 8.89%;
  }

  section > div:nth-child(7) {
    background: var(--base-darker);
    width: 33.96%;
    height: 24.44%;
  }
</style>
