<section>
  <div class="main-booster">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="booster-bot"></div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: hotpink;
  }

  .main-booster {
    width: 83.02%;
    height: 90.7%;
    background-color: rgb(59, 93, 109);
    border-radius: 7%;
    display: flex;
    justify-content: center;
  }

  .main-booster > div {
    height: 100%;
    background-color: bisque;
  }

  .main-booster > div:nth-child(1) {
    height: 100%;
    position: relative;
    border-top-left-radius: 60% 5%;
    border-bottom-left-radius: 60% 5%;
  }

  .main-booster > div:nth-child(1)::before {
    content: "";
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    position: absolute;
    background-color: rgb(59, 93, 109);
    border-top-left-radius: 50% 7%;
    border-bottom-left-radius: 50% 7%;
  }

  .main-booster > div:nth-child(2) {
    height: 100%;
    position: relative;
    border-top-left-radius: 30% 10%;
    border-bottom-left-radius: 30% 10%;
  }

  .main-booster > div:nth-child(2)::before {
    content: "";
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    position: absolute;
    background-color: rgb(59, 93, 109);
    border-top-left-radius: 30% 7%;
    border-bottom-left-radius: 30% 7%;
  }

  .main-booster > div:nth-child(3) {
    height: 100%;
    position: relative;
    border-top-left-radius: 15% 10%;
    border-bottom-left-radius: 15% 10%;
  }

  .main-booster > div:nth-child(3)::before {
    content: "";
    top: 0;
    right: 0;
    width: 77%;
    height: 100%;
    position: absolute;
    background-color: rgb(59, 93, 109);
    border-top-left-radius: 15% 7%;
    border-bottom-left-radius: 15% 7%;
  }

  .main-booster > div:nth-child(3)::after {
    content: "";
    top: 0;
    right: -15%;
    z-index: 5;
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: rgb(204, 157, 99);
  }

  .main-booster > div:nth-child(4) {
    height: 100%;
    position: relative;
    border-top-right-radius: 15% 10%;
    border-bottom-right-radius: 15% 10%;
  }

  .main-booster > div:nth-child(4)::before {
    content: "";
    top: 0;
    left: 0;
    width: 77%;
    height: 100%;
    position: absolute;
    background-color: rgb(59, 93, 109);
    border-top-right-radius: 15% 7%;
    border-bottom-right-radius: 15% 7%;
  }

  .main-booster > div:nth-child(5) {
    height: 100%;
    position: relative;
    border-top-right-radius: 30% 10%;
    border-bottom-right-radius: 30% 10%;
  }

  .main-booster > div:nth-child(5)::before {
    content: "";
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    position: absolute;
    background-color: rgb(59, 93, 109);
    border-top-right-radius: 30% 7%;
    border-bottom-right-radius: 30% 7%;
  }

  .main-booster > div:nth-child(6) {
    height: 100%;
    position: relative;
    border-top-right-radius: 60% 5%;
    border-bottom-right-radius: 60% 5%;
  }

  .main-booster > div:nth-child(6)::before {
    content: "";
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    position: absolute;
    background-color: rgb(59, 93, 109);
    border-top-right-radius: 50% 7%;
    border-bottom-right-radius: 50% 7%;
  }

  .main-booster > div:nth-child(1),
  .main-booster > div:nth-child(6) {
    width: 12.66%;
    height: 100%;
    background-color: rgb(204, 157, 99);
  }

  .main-booster > div:nth-child(2),
  .main-booster > div:nth-child(5) {
    width: 14.66%;
    height: 100%;
    background-color: rgb(204, 157, 99);
  }

  .main-booster > div:nth-child(3),
  .main-booster > div:nth-child(4) {
    width: 22.68%;
    height: 100%;
    background-color: rgb(204, 157, 99);
  }

  .booster-bot {
    height: 9.3%;
    width: 62.26%;
    background-color: rgb(59, 93, 109);
  }
</style>
