---
import KenobiBlade from "./KenobiBlade.astro";
import KenobiBooster from "./KenobiBooster.astro";
import KenobiClamp from "./KenobiClamp.astro";
import KenobiEmitter from "./KenobiEmitter.astro";
import KenobiGrenade from "./KenobiGrenade.astro";
import KenobiNeck from "./KenobiNeck.astro";
import KenobiPommel from "./KenobiPommel.astro";
---

<div id="hilt" class="hilt">
  <button id="power-btn" autofocus></button>
  <KenobiBlade />
  <KenobiEmitter />
  <KenobiNeck />
  <KenobiGrenade />
  <KenobiClamp />
  <KenobiBooster />
  <KenobiPommel />
</div>

<style>
  .hilt {
    position: relative;
    max-height: 275mm;
    height: 100%;
    aspect-ratio: 51/275;
    transition: 0.5s;
  }

  #power-btn {
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
  }
</style>
