---
import KenobiBooster from "./KenobiBooster.astro";
import KenobiClamp from "./KenobiClamp.astro";
import KenobiEmitter from "./KenobiEmitter.astro";
import KenobiGrenade from "./KenobiGrenade.astro";
import KenobiNeck from "./KenobiNeck.astro";
import KenobiPommel from "./KenobiPommel.astro";
---

<div id="hilt" class="hilt">
  <KenobiEmitter />
  <KenobiNeck />
  <KenobiGrenade />
  <KenobiClamp />
  <KenobiBooster />
  <KenobiPommel />
</div>

<style>
  .hilt {
    position: relative;
    max-height: 275mm;
    height: 100%;
    aspect-ratio: 51/275;
    transition: 0.5s;
  }
</style>

<script>
  let btn = document.getElementById("btn");
  let hilt = document.getElementById("hilt");
  let lightsaberContainer = document.getElementById("lightsaber-container");
  let hiltContainer = document.getElementById("hilt-container");

  btn?.addEventListener("click", () => {
    console.log("btn");
  });

  document.addEventListener("wheel", (event) => {
    if (event.deltaY < 0) {
      hiltContainer!.style.height = "100%";
    } else {
      hiltContainer!.style.height = "23.73%";
    }
  });
</script>
