<section>
  <div class="emitter-top">
    <div></div>
    <div></div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>

<style>
  section {
    --gradient: linear-gradient(
      90deg,
      rgb(131, 127, 122) 0%,
      rgb(151, 145, 139) 6%,
      rgba(43, 37, 28, 1) 11%,
      rgba(47, 42, 36, 1) 16%,
      rgba(109, 95, 84, 1) 24%,
      rgba(235, 235, 231, 1) 35%,
      rgba(227, 227, 223, 1) 43%,
      rgba(97, 90, 88, 1) 52%,
      rgb(32, 32, 31) 66%,
      rgba(73, 68, 62, 1) 80%,
      rgba(176, 172, 166, 1) 85%,
      rgba(97, 95, 91, 1) 96%,
      rgba(45, 44, 43, 1) 100%
    );

    --weathered-gradient-1: linear-gradient(
      0deg,
      rgba(41, 41, 43, 0) 0%,
      rgba(41, 41, 43, 0.577468487394958) 25%,
      rgba(41, 41, 43, 0.5970763305322129) 65%,
      rgba(41, 41, 43, 0) 84%,
      rgba(41, 41, 43, 0.47102591036414565) 91%,
      rgba(0, 0, 0, 0.8547794117647058) 98%
    );

    --weathered-gradient-2: linear-gradient(
      0deg,
      rgba(41, 41, 43, 0) 30%,
      rgba(41, 41, 43, 0.5) 50%,
      rgba(0, 0, 0, 0.7) 85%
    );
  }

  section {
    height: 11.07%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > div:nth-child(1) {
    height: 6.45%;
    width: 100%;
    position: relative;
  }

  section > div:nth-child(1)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--weathered-gradient-1);
    clip-path: polygon(0 0, 100% 0, 88.68% 100%, 11.32% 100%);
  }

  section > div:nth-child(2) {
    height: 16.13%;
    width: 77.36%;
    position: relative;
    background: var(--gradient);
  }

  section > div:nth-child(2)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--weathered-gradient-2);
  }

  section > div:nth-child(3) {
    height: 45.16%;
    width: 71.7%;
    position: relative;
    background: var(--gradient);
  }

  section > div:nth-child(3)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--weathered-gradient-1);
  }

  section > div:nth-child(4) {
    height: 9.68%;
    width: 71.7%;
    position: relative;
    background: var(--gradient);

    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  }

  section > div:nth-child(4)::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(34, 33, 33, 0.616);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  }

  section > div:nth-child(5) {
    height: 22.58%;
    width: 54.72%;
    position: relative;
    background: var(--gradient);
  }

  section > div:nth-child(5)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--weathered-gradient-2);
  }

  .emitter-top div:nth-child(1) {
    height: 30%;
    background: var(--gradient);
  }

  .emitter-top div:nth-child(2) {
    height: 70%;
    width: 100%;
    background: var(--gradient);

    clip-path: polygon(0 0, 100% 0, 88.68% 100%, 11.32% 100%);
  }
</style>
