<section>
  <div class="div1">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="div2"></div>
  <div class="div3"></div>
  <div class="div4"></div>
  <div class="div5"></div>
  <div class="div6"></div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 13.93%;
  }

  .div1 {
    width: 32.08%;
    height: 23.08%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div2 {
    width: 71.7%;
    height: 20.51%;
    background-color: rgb(184, 103, 11);
  }

  .div3 {
    width: 77.36%;
    height: 7.69%;
    background-color: rgb(184, 103, 11);
    clip-path: polygon(7% 0, 93% 0, 100% 100%, 0 100%);
  }

  .div4 {
    width: 35.85%;
    height: 15.38%;
    background-color: rgb(184, 103, 11);
  }

  .div5 {
    width: 35.85%;
    height: 5.13%;
    background-color: rgb(184, 103, 11);
    clip-path: polygon(0 0, 100% 0, 89.5% 100%, 10.5% 100%);
  }

  .div6 {
    width: 28.3%;
    height: 28.21%;
    background-color: rgb(184, 103, 11);
  }

  .div1 div:nth-child(1) {
    width: 100%;
    height: 38.89%;
    background-color: rgb(184, 103, 11);
  }

  .div1 div:nth-child(2) {
    width: 88.24%;
    height: 22.22%;
    background-color: rgb(184, 103, 11);
  }

  .div1 div:nth-child(3) {
    width: 100%;
    height: 38.89%;
    background-color: rgb(184, 103, 11);
  }
</style>
