<section>
  <div class="emitter-top">
    <div></div>
    <div></div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>

<style>
  section {
    --gradient: linear-gradient(
      90deg,
      rgba(107, 109, 115, 1) 7%,
      rgba(184, 177, 177, 1) 15%,
      rgba(181, 174, 174, 1) 21%,
      rgba(127, 131, 142, 1) 31%,
      rgba(78, 80, 84, 1) 34%,
      rgba(32, 34, 36, 1) 57%,
      rgba(177, 167, 167, 1) 63%,
      rgba(82, 85, 88, 1) 70%,
      rgba(41, 41, 43, 1) 92%,
      rgba(0, 0, 0, 1) 100%
    );

    --weathered-gradient-1: linear-gradient(
      0deg,
      rgba(41, 41, 43, 0) 0%,
      rgba(41, 41, 43, 0.577468487394958) 25%,
      rgba(41, 41, 43, 0.5970763305322129) 65%,
      rgba(41, 41, 43, 0) 84%,
      rgba(41, 41, 43, 0.47102591036414565) 91%,
      rgba(0, 0, 0, 0.8547794117647058) 98%
    );

    --weathered-gradient-2: linear-gradient(
      0deg,
      rgba(41, 41, 43, 0) 30%,
      rgba(41, 41, 43, 0.5) 50%,
      rgba(0, 0, 0, 0.7) 85%
    );
  }

  section {
    height: 11.07%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > div:nth-child(1) {
    height: 6.45%;
    width: 100%;
    position: relative;
  }

  section > div:nth-child(1)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--weathered-gradient-1);
    clip-path: polygon(0 0, 100% 0, 88.68% 100%, 11.32% 100%);
  }

  section > div:nth-child(2) {
    height: 16.13%;
    width: 77.36%;
    position: relative;
    background: var(--gradient);
    /* background-color: rgb(47, 61, 92); */
  }

  section > div:nth-child(2)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--weathered-gradient-2);
  }

  section > div:nth-child(3) {
    height: 45.16%;
    width: 71.7%;
    position: relative;
    background: var(--gradient);
    /* background-color: rgb(47, 61, 92); */
  }

  section > div:nth-child(3)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--weathered-gradient-1);
  }

  section > div:nth-child(4) {
    height: 9.68%;
    width: 71.7%;
    position: relative;
    background: var(--gradient);
    /* background-color: rgb(47, 61, 92); */

    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  }

  section > div:nth-child(4)::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(34, 33, 33, 0.616);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  }

  section > div:nth-child(5) {
    height: 22.58%;
    width: 54.72%;
    position: relative;
    background: var(--gradient);
    /* background-color: rgb(47, 61, 92); */
  }

  section > div:nth-child(5)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--weathered-gradient-2);
  }

  .emitter-top div:nth-child(1) {
    height: 30%;
    background: var(--gradient);
    /* background-color: rgb(47, 61, 92); */
  }

  .emitter-top div:nth-child(2) {
    height: 70%;
    width: 100%;
    background: var(--gradient);
    /* background-color: rgb(47, 61, 92); */

    clip-path: polygon(0 0, 100% 0, 88.68% 100%, 11.32% 100%);
  }
</style>
