---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Star Wars Lightsabers">
  <main>
    <nav>
      <a href="kenobi">Kenobi ANH</a>
      <a href="lukeesb">Luke ESB</a>
      <a href="vader">Vader ESB</a>
      <a href="lukerotj">Luke ROTJ</a>
    </nav>
  </main>
</Layout>

<style>

  main {
    display: flex;
    height: 100vh;
    background-color: rgb(218, 192, 224);
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
  }
</style>

