---
import VaderBlade from "./VaderBlade.astro";
import VaderControlBox from "./VaderControlBox.astro";
import VaderEmitter from "./VaderEmitter.astro";
import VaderGrips from "./VaderGrips.astro";
import VaderUpper from "./VaderUpper.astro";
---

<div id="hilt" class="hilt">
  <button id="power-btn" autofocus></button>
  <VaderBlade />
  <VaderEmitter />
  <VaderUpper />
  <VaderControlBox />
  <VaderGrips />
</div>

<style>
  .hilt {
    position: relative;
    max-height: 285mm;
    height: 100%;
    aspect-ratio: 39 / 290;
    transition: 0.5s;
  }

  #power-btn {
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
  }
</style>
