---
let bubbles = new Array(6).fill("");
---

<section>
  <div class="control-box-container">
    <div class="border-top"></div>
    <div class="main">
      <div class="control-box">
        <div>
          <div class="control-box-detail">
            <div></div>
          </div>
        </div>
        <div class="control-box-edge"></div>
        <div class="bubbles">
          {bubbles.map(() => <div />)}
        </div>
        <div class="lever"></div>
      </div>
    </div>
    <div class="border-bot"></div>
  </div>
</section>

<style>
  section {
    --black: linear-gradient(
      90deg,
      rgba(31, 30, 29, 1) 0%,
      rgba(19, 19, 19, 1) 6%,
      rgba(14, 14, 13, 1) 11%,
      rgba(10, 10, 10, 1) 16%,
      rgba(14, 14, 13, 1) 24%,
      rgba(18, 18, 17, 1) 35%,
      rgba(27, 27, 26, 1) 43%,
      rgba(19, 19, 19, 1) 52%,
      rgba(10, 10, 10, 1) 66%,
      rgba(19, 19, 19, 1) 80%,
      rgba(27, 26, 26, 1) 85%,
      rgba(28, 28, 27, 1) 96%,
      rgba(13, 13, 12, 1) 100%
    );
  }

  section {
    height: 16.55%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .control-box-container {
    width: 107.69%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .border-top,
  .border-bot {
    height: 3.13%;
    width: 104.76%;
    background: var(--black);
  }

  .border-top {
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
  }

  .border-bot {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }

  .main {
    height: 100%;
    width: 100%;
    position: relative;
    background: var(--black);
  }

  .main::before {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .control-box {
    width: 38.1%;
    height: 100%;
    right: -37%;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .lever {
    width: 43.75%;
    height: 100%;
    top: 15%;
    left: 15.63%;
    background: linear-gradient(
      90deg,
      rgb(15, 15, 15) 0%,
      rgb(100, 98, 98) 85%,
      rgb(19, 18, 18) 100%
    );
    position: absolute;
    clip-path: polygon(100% 0, 100% 97%, 90% 100%, 10% 100%, 0 97%, 0 0);
  }

  .control-box > div:nth-child(1) {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgb(31, 30, 30) 0%,
      rgba(10, 10, 10, 1) 15%,
      rgb(27, 26, 26) 85%,
      rgba(9, 9, 9, 1) 100%
    );
    z-index: 2;
    clip-path: polygon(0 0, 100% 4.44%, 100% 95.56%, 0% 100%);
  }

  .control-box-detail {
    width: 83.33%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      rgb(26, 25, 25) 0%,
      rgb(180, 178, 178) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .control-box-detail > div {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: conic-gradient(
      rgb(46, 44, 44),
      rgb(193, 193, 206),
      rgb(46, 44, 44)
    );
  }

  .control-box-edge {
    width: 25%;
    height: 88.89%;
    translate: -3%;
    background: linear-gradient(
      90deg,
      rgb(58, 57, 57) 0%,
      rgb(26, 25, 25) 40%,
      rgb(26, 25, 25) 60%,
      rgba(9, 9, 9, 1) 100%
    );
    z-index: 2;
  }

  .bubbles {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    z-index: 1;
    right: -12%;
  }

  .bubbles > div {
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(
      0deg,
      rgb(103, 108, 109) 0%,
      rgba(212, 230, 231, 1) 100%
    );
  }
</style>
