---
let endcapKnurls = new Array(61).fill("");
let gripsDetailsKnurls = new Array(12).fill("");
---

<section>
  <div class="grips-container">
    <div class="grips">
      <div class="middle-grip">
        <div></div>
      </div>
      <div class="grip-l">
        <div></div>
      </div>
      <div class="grip-r">
        <div></div>
      </div>
    </div>
    <div class="grips-details">
      <div class="grips-knurls">
        {gripsDetailsKnurls.map(() => <div />)}
      </div>
    </div>
  </div>
  <div class="endcap">
    <div class="endcap-knurls">
      {endcapKnurls.map(() => <div />)}
    </div>
    <div></div>
  </div>
</section>

<style>
  section {
    --chrome: linear-gradient(
      90deg,
      rgb(131, 127, 122) 0%,
      rgb(151, 145, 139) 6%,
      rgba(43, 37, 28, 1) 11%,
      rgba(47, 42, 36, 1) 16%,
      rgba(109, 95, 84, 1) 24%,
      rgba(235, 235, 231, 1) 35%,
      rgba(227, 227, 223, 1) 43%,
      rgba(97, 90, 88, 1) 52%,
      rgb(32, 32, 31) 66%,
      rgba(73, 68, 62, 1) 80%,
      rgba(176, 172, 166, 1) 85%,
      rgba(97, 95, 91, 1) 96%,
      rgba(45, 44, 43, 1) 100%
    );
  }

  section {
    height: 38.62%;
  }

  .grips-container {
    height: 93.75%;
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;
    background: var(--chrome);
  }

  .grips-container::before {
    position: absolute;
    inset: 0;
    content: "";
    height: 81.9%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(23, 22, 22, 0.4) 10%,
      rgba(23, 22, 22, 0.3) 95%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  .grips {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .middle-grip {
    width: 35.9%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgb(83, 81, 81) 0%,
      rgb(15, 15, 15) 10%,
      rgb(12, 12, 12) 90%,
      rgba(14, 14, 14, 1) 100%
    );
    display: flex;
    justify-content: center;
  }

  .middle-grip > div {
    width: 28.57%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgb(65, 62, 62) 0%,
      rgb(17, 17, 17) 30%,
      rgb(24, 23, 23) 70%,
      rgba(14, 14, 14, 1) 100%
    );
  }

  .grip-l,
  .grip-r {
    width: 30.77%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      270deg,
      rgb(95, 91, 91) 0%,
      rgb(15, 15, 15) 15%,
      rgb(17, 17, 17) 70%,
      rgba(14, 14, 14, 1) 100%
    );
  }

  .grip-l {
    left: -12%;
    scale: -1;
  }

  .grip-r {
    right: -12%;
  }

  .grip-l > div,
  .grip-r > div {
    width: 50%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgb(41, 39, 39) 0%,
      rgb(26, 25, 25) 40%,
      rgb(15, 15, 15) 60%,
      rgba(14, 14, 14, 1) 100%
    );
  }

  .grips-details {
    height: 18.1%;
    width: 100%;
    display: flex;
    align-items: end;
    background: var(--chrome);
    z-index: 1;
    position: relative;
  }

  .grips-details::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(23, 22, 22, 0.5) 35%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }

  .grips-knurls {
    height: 65%;
    width: 100%;
  }

  .grips-knurls > div {
    height: 8.33%;
    width: 100%;
    translate: 0 50%;
  }

  .grips-knurls > div:nth-child(2n + 1) {
    height: 8.33%;
    width: 100%;
    translate: 0 50%;
    background: rgb(34, 33, 33);
  }

  .endcap {
    height: 6.25%;
    width: 100%;
  }

  .endcap-knurls::before {
    position: absolute;
    inset: 0;
    content: "";
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(23, 22, 22, 0.5) 35%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }

  .endcap > div:nth-child(2) {
    height: 28.57%;
    width: 100%;
    background: var(--chrome);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    position: relative;
    overflow: hidden;
  }

  .endcap > div:nth-child(2)::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .endcap-knurls {
    width: 100%;
    height: 71.43%;
    background: var(--chrome);
    display: flex;
    position: relative;
  }

  .endcap-knurls > div {
    height: 100%;
    width: 100%;
  }

  .endcap-knurls > div:nth-child(2n) {
    background: rgb(54, 52, 52);
  }
</style>
